h1,h2{
    font-family: 'Franklin Gothic Medium';
    text-align: center;
    font-size: 200px;
    color: white;
}
p{
    font-family: 'Franklin Gothic Medium';
    text-align: center;
    color: white;
}
body{
    background-color: black;
}
