body{
    background-color: black;
}

h1{
    color: white;
}

.loginfrm {
    color: white;
}
div.container {
    text-align: center;
  }
  
ul.myUL {
    display: inline-block;
    text-align: left;
    color : white;
  }